<mat-accordion>
  <mat-expansion-panel disabled expanded>
    <mat-expansion-panel-header>
      <mat-panel-title style="color: black;">
        <h2>Book Details</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col">
        <div class="col" style="padding-left: 1px;">
            <input style="width: 250px;height: 35px;" matInput placeholder="Enter Name" autocomplete="off"
            (keyup)="filterData($event)">
        </div>
      </div>
      <div class="col" style="margin-right: 50px;">
        <button type="button" class="btn btn-primary" (click)="openModel()">
          Add Book
        </button>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <b>
              <h5 class="modal-title">{{title}}</h5>
            </b>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseModel()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form [formGroup]="formName ? addForm : updateForm" (ngSubmit)="AddUpdateBook()">
            <div class="row" style="margin: 10px;">
              <div class="col" style="display: none;">
                <input required type="number" class="form-control" id="bookId" readonly formControlName="bookId"
                  placeholder="Enter id">
              </div>
            </div>
            <div class="col">
              <div class="form-group" style="margin: 10px;">
                <label for="exampleInput">Book Name</label>
                <input required type="text" class="form-control" id="bookName" formControlName="bookName"
                  placeholder="Enter Book Name">
                <span class="form-text text-danger" *ngIf="validName && validName.invalid && validName.touched">
                  Name is required
                </span>
              </div>
              <div class="col"></div>
              <div class="form-group" style="margin: 10px;">
                <label for="exampleInput">Author</label>
                <input required type="text" class="form-control" id="bookAuthor" formControlName="bookAuthor"
                  placeholder="Enter Author Name">
                <span class="form-text text-danger" *ngIf="validAuthor&& validAuthor.invalid && validAuthor.touched">
                  Name is required
                </span>
              </div>
            </div>
            <div class="col">
              <div class="form-group" style="margin: 10px;">
                <label for="exampleInput">Price</label>
                <input type="number" class="form-control" id="bookPrice" formControlName="bookPrice"
                  placeholder="Enter Price">
                <span class="form-text text-danger" *ngIf="validPrice && validPrice.invalid && validPrice.touched">
                  Price is required and must be a positive number.
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <mat-form-field appearance="fill" style="width: 98%;height: 90%;">
                <mat-label>Select Course</mat-label>
                <mat-select id="course" formControlName="course">
                  <mat-option *ngFor="let course of courses" [value]="course.value">
                    {{course.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12" *ngIf="hideControl">
              <mat-form-field appearance="fill" style="width: 98%;height: 90%;">
                <mat-label>Select Status</mat-label>
                <mat-select id="status" formControlName="isDeleted" style="width: 98%;">
                  <mat-option *ngFor="let statuss of status" [value]="statuss.value">
                    {{statuss.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" style="margin-left: 44%; margin-bottom: 10px;">
              <button type="submit" class="btn btn-primary"
                [disabled]="this.title === 'Add Book'? addForm.invalid : updateForm.invalid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> <strong>Book Id </strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.bookId}} </td>
        </ng-container>
        <ng-container matColumnDef="bookName">
          <th mat-header-cell *matHeaderCellDef><strong>Book Name</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.bookName }} </td>
        </ng-container>
        <ng-container matColumnDef="bookAthor">
          <th mat-header-cell *matHeaderCellDef> <strong>Author</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.bookAuthor}} </td>
        </ng-container>
        <ng-container matColumnDef="bookPrice">
          <th mat-header-cell *matHeaderCellDef><strong>Price</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.bookPrice | currency:'INR':'symbol':'1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef><strong>Course</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.course}} </td>
        </ng-container>
        <ng-container matColumnDef="isDeleted">
          <th mat-header-cell *matHeaderCellDef><strong>Active</strong> </th>
          <td mat-cell *matCellDef="let element">{{ (element.isDeleted === false) ? 'Yes' : 'No' }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> <strong>Action</strong> </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn" id="btn1" (click)="getBookById(element.bookId)"><i class="fa fa-edit"></i></button>
            <button class="btn" id="btn1" (click)="deleteBook(element.bookId)" style="color:red"><i
                class="fa fa-trash"></i></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [pageSize]="6" [pageSizeOptions]="[1, 2, 3,7,8,9,10]" showFirstLastButtons="true">
      </mat-paginator>
      <div style="padding-left: 90%;" class="mat-paginator-page-size">
        Page {{ paginator.pageIndex + 1 }} of {{ paginator.getNumberOfPages() }}
     </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>